{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
    <main class="container">
        <div class=" impressum-container">
            <h1>Impressum</h1>
            <p>Verantwortlich für den Inhalt dieser Seite:</p>
            <p><strong>Name: </strong>Fabian Marc Pascal Berger</p>
            <p><strong>Website: </strong><a href="https://www.fmpberger.com" target="_blank">https://www.fmpberger.com</a></p>
    
            <h2>Danke an Django</h2>
            <p>Dieses Projekt wurde mit <a href="https://www.djangoproject.com/" target="_blank">Django</a>, einem hochwertigen Open-Source Webframework, entwickelt. Django hat es ermöglicht, dieses Projekt effizient und mit leistungsstarken Funktionen zu realisieren.</p>
    
            <h2>Unterstützen Sie Django</h2>
            <p>Wenn Dir die Website gefällt, kannst Du gerne eine Spende an die Django Software Foundation leisten. Deine Unterstützung hilft, das Framework stark und zugänglich zu halten. <a href="https://www.djangoproject.com/fundraising/" target="_blank">Hier spenden</a>.</p>
        </div>
    </main>
{% endblock %}
