{% extends "zlel_web_applikation/../home/base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
        <main class ="jumbotron" role="main">
            <section class="container-fluid bg-white">
                <div class="row text-center">
                  <h1 class="container-sm">Herzlich willkommen auf eli</h1>
                  <h2 class="container-sm">Deine Seite rumd um das Thema Ergänzungs- und Überbrückungsleistungen</h2> <!-- Escaping the name -->
                </div>
            </section>
            <section>
                <h2>News & Aktuelles</h2>
            </section>
           </main>
{% endblock %}