{% extends 'zlel_web_applikation/base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
    <main role="main">
        <h1 class="container-sm text-center">Herzlich willkommen auf eli</h1>
        <h2 class="container-sm text-center">Deine Seite rund um das Thema Ergänzungsleistungen</h2>
        <!-- Hier beginnt das Grid-System -->
        <div class="grid-container">
            <!-- Zeile 1 -->
            <div class="grid-item image">
                <img class="image_front" src="../../static/images/zuerich.webp" alt="Stadt Zürich" width="1024" height="683"/>
            </div>
            <div class="grid-item text">
                <p>eli bietet Dir einen Überblick über die Zusatzleistungen und Ergänzungsleistungen im Kanton Zürich. Bei Bedarf kannst Du ein Konto eröffnen, und Dich im Forum zu beteiligen. Sie ist auf Basis privater Initiative entstanden und soll Betroffene informieren und ihre zivilgesellschaftliche Selbstbestimmung fördern.</p>
            </div>
            <!-- Zeile 2 -->
            <div class="grid-item image">
                <img class="image_front" src="../../static/images/bundeshaus_1.webp" alt="Stadt Zürich" width="1024" height="683"/>
            </div>
            <div class="grid-item text">
                <p>Die Ergänzungsleistungen wurden im Jahr 1965 eingeführt als Reaktion auf die unzureichenden Renten der Alters- und Hinterlassenenversicherung (AHV) und der Invalidenversicherung (IV). Diese Renten erfüllten nicht den Verfassungsauftrag der Existenzsicherung, was zu einer signifikanten Anzahl von Rentnerinnen und Rentnern führte, die unter dem Existenzminimum lebten. Die Ergänzungsleistung schliesst diese Lücke.</p>
            </div>
            <!-- Zeile 3 -->
            <div class="grid-item image">
                <img class="image_front" src="../../static/images/people_1.webp" alt="Stadt Zürich" width="1024" height="683"/>
            </div>
            <div class="grid-item text">
                <p>Ergänzungsleistungen sind in der Schweiz als Sozialversicherungsleistungen auf Bundesebene geregelt und nicht als Sozialhilfe zu verstehen. Sie bieten eine bedarfsgeprüfte Unterstützung, die über Steuermittel finanziert wird und dienen der Deckung des grundlegenden Lebensbedarfs von Personen, deren Renten und Einkommen für den Lebensunterhalt nicht ausreichen. Die Leistungen umfassen auch Pflege- und Heimkosten und haben sich als wichtiger Teil der sozialen Sicherheit in der Schweiz etabliert.</p>
            </div>
        </div>
    </main>
{% endblock %}