{% extends 'zlel_web_applikation/base.html' %}  <!-- Extend your base template -->
{%load widget_tweaks %}
{% load static %}  <!-- Load static files -->
{% block head %}  <!-- Define the head of this page -->
    <title>Login</title>
{% endblock %}
{% block content %}  <!-- Define the content of this page -->
    <div class="mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Bitte logge Dich ein</h1>

                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="mb-3">
                                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% render_field field class="form-control" %}
                                    {% if field.errors %}
                                        <div class="alert alert-danger mt-2">
                                            {{ field.errors.0 }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>

                        <div class="text-center mt-4">
                            <p>Falls Sie noch keinen Account besitzen. Bitte registrieren Sie sich</p>
                            <a href="{% url 'signup' %}" class="btn btn-outline-secondary">Registrieren</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
