{% extends 'zlel_web_applikation/base.html' %}
{% load static %}
{% block title %}Registrierungsbestätigung{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            🚀 Vielen Dank für Ihre Registrierung! Sobald Sie den Link in der E-Mail bestätigt haben, können Sie sich einloggen.
        </div>
        <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'login' %}'">Zurück zum Login</button>
    </div>
{% endblock %}

