{% extends 'zlel_web_applikation/base.html' %}
{% load static %}
{% block title %}Registrierungsbestätigung{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            🚀 Vielen Dank für Deine Registrierung! Sobald Du den Link in der E-Mail bestätigt hast, kannst Du Dich einloggen.
        </div>
        <button type="button" class="btn button-color button-style" onclick="window.location.href='{% url 'home' %}'">Zurück zur Website</button>
    </div>
{% endblock %}

