{% extends 'zlel_web_applikation/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Registrieren Sie sich für die kantonale ZLEL/ÜL Webapplikation</h1>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% render_field field class="form-control" %}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                                {% if field.errors %}
                                    <div class="alert alert-danger">
                                        {{ field.errors|join:"<br>" }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <input type="submit" class="btn btn-success" value="Registrieren"/>
                        <a href="{% url 'login' %}" class="btn btn-secondary">Zurück zum Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
