
/* Das Sternchen (*) ist ein universeller Selektor, der auf alle Elemente in der HTML-Struktur angewendet wird. */
* {
    /* Die Schriftart für alle Elemente wird auf 'Helvetica' gesetzt. Falls diese nicht verfügbar ist, wird eine generische sans-serif Schriftart verwendet. */
    font-family: 'Helvetica', 'Arial', sans-serif;
    /* Die Schriftstärke für alle Elemente wird auf 400 gesetzt. */
    font-weight: 400;
    /* 'box-sizing: border-box' bedeutet, dass die Gesamtbreite und -höhe eines Elements seine Rand- und Padding-Werte einschließt. */
    box-sizing: border-box;

}

body {
    position: relative;
    min-height: 100vh;
}
/* Header */
header {
    font-size: 22px;
}

.header-container {
    padding-left: 150px;
}

#eli {
    /* Setzt den Außenabstand auf 50 Pixel. */
    margin: 50px;
    /* Setzt die Schriftstärke auf fett. */
    font-weight: 1000;
    /* Setzt die Ausrichtung des Textes auf linksbündig. */
    text-align: left;
    /* Setzt die Schriftfarbe auf ein dunkles Blau. */
    color: #00407C;
    /* Setzt die Schriftgröße auf 50 Pixel. */
    font-size: 50px;
}

/* Überschrift-Elemente */
h1 {
    font-weight: 700;
    font-size: clamp(1.25rem, 2vw, 2.25rem);
    color: #00407C;
    margin-bottom: 30px;
}

h2 {
    font-weight: 700;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    margin-top: 30px;
    color: #00407C;
}

h3 {
    font-weight: 400;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    margin-top: 20px;
    color: #00407C;
}

h4 {
  font-weight: 400;
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  margin-top: 20px;
    color: black;
}

p {
    font-size: clamp(1rem, 1vw, 1rem);
    line-height: 1.6;
}

a {
    color: #00407C;
    text-decoration: underline;
    cursor: pointer;
    line-height: 1.6;
}

a:hover {
    text-decoration: none;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 40px auto 20px;
}

aside li {
    list-style: none;
    margin-top: 15px;
    width: 100%;
}

aside a {
    display: block;
    padding: 10px;
    background-color: #D29D46;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.6;
    width: auto;
    border-radius: 20px;
    color: black;
    font-weight: bold;
}

aside li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1); /* Bild leicht vergrößern */
    transition: transform 0.3s ease;
    border-radius: 20px;
}

aside a:hover {
    background-color: #5BA1E3;
    color: black;
}

.delete_text {
    margin-bottom: 50px;
    margin-top: 70px;
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
    border-color: red;
    border-style: solid;
    background-color: rgba(255, 0, 0, 0.3);
    padding: 20px;
    border-radius: 15px;
}

.li-text {
    font-size: clamp(1rem, 1vw, 1rem);
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* 1/4 und 3/4 */
    grid-template-rows: auto auto; /* 3 Zeilen */
    row-gap: 30px; /* Abstand zwischen den Zeilen */
    column-gap: 50px; /* Abstand zwischen den Spalten */
    padding: 75px 150px 140px;
}

.grid-item {
    display: flex;
    align-items: center; /* Zentriert die Inhalte vertikal im Flex-Container */
}

.grid-item.image {
    width: 250px; /* Fixe Breite des Bildcontainers */
    height: 250px; /* Fixe Höhe des Bildcontainers */
    border-radius: 50%; /* Rundes Bild */
    overflow: hidden; /* Sorgt dafür, dass das Bild rund bleibt */
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item.image img {
    width: 100%; /* Bild füllt den Container aus */
    height: 100%;
    object-fit: cover; /* Sorgt dafür, dass das Bild die Größe beibehält und zugeschnitten wird */
}


.info-box {
    width: 800px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Zentriert die Inhalte vertikal im Flex-Container */
    width: 70%;
    /* Fügt Innenabstand hinzu, optional für besseres Layout */
    padding: 20px 20px 120px;
}

.container_post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px 20px 120px;
}

.container_search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 50px 50px 350px;
}

.li_search {
    list-style: none;
    padding: 10px;
}

.custom_lg {
    width: 800px !important;
}



.input_search {
    border-radius: 15px;
    width: 250px;
    height: 40px;
}



/*ok/
/* '.archiv_nav' ist die Klasse für die Navigationsleiste auf der Archiv-Seite. */
.archiv_nav {
    /* Setzt den unteren Außenabstand auf 30 Pixel. */
    margin-bottom: 30px;
}

/*ok/
/* '.archiv_nav ul li' selektiert alle 'li'-Elemente innerhalb eines 'ul'-Elements, das sich innerhalb eines Elements mit der Klasse '.archiv_nav' befindet. */
.archiv_nav ul li {
    /* Ändert die Darstellung des 'li'-Elements, sodass es nebeneinander angezeigt wird. */
    display: inline-block;
    /* Setzt den horizontalen Außenabstand auf 15 Pixel. */
    margin: 0 15px;
}


/*ok/
/* '.document-container h2' selektiert alle h2 Elemente innerhalb eines Elements mit der Klasse '.document-container'. */
.document-container h2 {
    /* Fügt eine untere Randlinie hinzu. */
    border-bottom: 1px solid #00407C;
    /* Setzt die Schriftfarbe auf ein dunkles Blau. */
    color: #00407C;
    /* Setzt den unteren Innenabstand auf 10 Pixel. */
    padding-bottom: 10px;
}

/* '.document' ist die Klasse für jedes Dokument-Container-Element. */
.document {
    /* Fügt eine 1 Pixel breite, durchgehende, graue Umrandung hinzu. */
    border: 1px solid #ccc;
    /* Setzt den Randradius, um abgerundete Ecken zu erzeugen. */
    border-radius: 5px;
    /* Setzt den Innenabstand auf 10 Pixel. */
    padding: 10px;
    /* Setzt den unteren Außenabstand auf 10 Pixel. */
    margin-bottom: 10px;
    /* Fügt einen Schatten zum Element hinzu. */
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

/* '.document h3 a' selektiert alle 'a' (Hyperlink) Elemente innerhalb von 'h3'-Elementen, die sich in einem Element mit der Klasse '.document' befinden. */
.document h3 a {
    /* Setzt die Linkfarbe auf ein helles Blau. */
    color: #007bff;
    /* Entfernt die Unterstreichung des Links. */
    text-decoration: none;
    /* Setzt die Schriftgröße auf 70% der Eltern-Schriftgröße. */
    font-size: 0.7em;
}

/* '.document h3 a:hover' ändert die Farbe des Hyperlinks innerhalb der 'h3'-Elemente, die sich in einem Element mit der Klasse '.document' befinden, wenn der Benutzer mit der Maus darüber fährt. */
.document h3 a:hover {
    /* Setzt die Farbe auf ein dunkles Grau. */
    color: #5a5a5a;
}


/* Navigation */
nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}
/*ok*/
nav a:hover {
    color: #007BFF;
}

.card-color {
    background-color: #CCE6FF;
    color: black;
    height: 300px;
}

.card-color:hover {
    background-color: #5BA1E3;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Bild leicht vergrößern */
    transition: transform 0.3s ease;

}

.card-answer {
    background-color: #CCE6FF;
    color: black;
}

.card-answer:hover {
    background-color: #5BA1E3;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Bild leicht vergrößern */
    transition: transform 0.3s ease;

}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.answer_title {
    background-color: #E0FFCC;
    border-radius: 15px;
    padding: 10px;
    font-weight: 500;
}

.button-color {
    background-color: #0F2D4A;
    color: white;
    transition: background-color 0.2s ease-in, color 0.2s ease-in, box-shadow 0.2s ease-in;
    width: auto;
}

.button-color:hover {
    background-color: #D29D46;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-style {
    border-radius: 10px;
    border: none;
    font-size: 0.9rem;
    font-weight: 400;
    cursor: pointer;
}

.a_button {
    width: 200px;
    margin-top: 10px;
}

footer {
    height: 100px;
    padding: 50px 0 0.9rem;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    width: 100%;
    border-top: double;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
}



.footer-nav a:hover {
    text-decoration: underline;
}

.col {
    padding: 50px;
  }

.impressum-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.impressum-container h1, .impressum-container h2, .impressum-container h3 {
    color: #333;
}


@media only screen and (max-width: 768px) {
    #body{width: 100%;}
    #header{width: 100%;}
    .header-container {
        padding-left: 0;
    }
    #a {width: 100%;}
    .container {
        width: 100%;
    }
    .info-box {
        width: 100%;
        text-align: center;
    }

    .card-color {
        height: 250px;
    }

    .grid-container {
        grid-template-columns: 1fr 2fr;
        row-gap: 50px;
        padding: 50px 50px 20px;
    }

    .custom_lg {
        width: 400px !important;
    }

}

/* Für kleine Bildschirme (z.B. Smartphones) */
@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr; /* Stapeln in einer Spalte */
    }

    .grid-item {
        justify-content: center; /* Zentriert den Inhalt horizontal */
    }

    .custom_lg {
        width: 200px !important;
    }

    .button-style {
        font-weight: 200;
        font-size: 12px;
        margin: 5px;
        width: 100px;
    }

    .small_displays {
        display: none;
    }

    .container_search {
        margin: 0;
        padding: 10px 10px 250px;
        width: 100%;
    }

    aside ul {
        margin: 0;
        padding: 0;
    }
}


#cookie-banner {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50%;
    background-color: orange;
    padding: 10px;
    text-align: center;
    display: none;
    z-index: 2;
}

#cookie-accept {
    background-color: #00407C;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}



