/* Das Sternchen (*) ist ein universeller Selektor, der auf alle Elemente in der HTML-Struktur angewendet wird. */
* {
    /* Die Schriftart für alle Elemente wird auf 'Helvetica' gesetzt. Falls diese nicht verfügbar ist, wird eine generische sans-serif Schriftart verwendet. */
    font-family:'Roboto', 'Helvetica', 'Arial', sans-serif;
    /* Die Schriftstärke für alle Elemente wird auf 400 gesetzt. */
    font-weight: 400;
    /* 'box-sizing: border-box' bedeutet, dass die Gesamtbreite und -höhe eines Elements seine Rand- und Padding-Werte einschließt. */
    box-sizing: border-box;
    /* Setzt die Innenabstände aller Elemente auf 0. */
    padding: 0;
    /* Setzt die Außenabstände aller Elemente auf 0. */
    margin: 0;
}
/*ok*/
header {
    font-size: 22px;
}

/*ok/
/* '#ksa' ist der ID-Selektor für das spezifische Element mit der ID 'ksa'. */
#ksa {
    /* Setzt den Außenabstand auf 50 Pixel. */
    margin: 50px;
    /* Setzt die Schriftstärke auf fett. */
    font-weight: 1000;
    /* Setzt die Ausrichtung des Textes auf linksbündig. */
    text-align: left;
    /* Setzt die Schriftfarbe auf ein dunkles Blau. */
    color: #00407C;
    /* Setzt die Schriftgröße auf 50 Pixel. */
    font-size: 50px;
}

h1 {
    font-weight: 700;
    font-size: clamp(1.25rem, 2.5vw, 3rem);
    color: #00407C;
}

h2 {
  font-weight: 700;
  font-size: clamp(1rem, 2vw, 2rem);
  margin-top: 30px;
    color: #00407C;
}

h3 {
  font-weight: 400;
  font-size: clamp(0.5rem, 1vw, 1rem);
  margin-top: 30px;
    color: #00407C;
}

.container {
    width: 50%;
}

.info-box {
    width: 800px;
}

.container_gesetzesartikel {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriert die Inhalte horizontal im Flex-Container */
    justify-content: center; /* Zentriert die Inhalte vertikal im Flex-Container */
    width: 80%;
    margin: 0 auto; /* Zentriert den Container selbst im übergeordneten Element */
    padding: 20px; /* Fügt Innenabstand hinzu, optional für besseres Layout */
}


/*ok/
/* '.archiv_nav' ist die Klasse für die Navigationsleiste auf der Archiv-Seite. */
.archiv_nav {
    /* Setzt den unteren Außenabstand auf 30 Pixel. */
    margin-bottom: 30px;
}

/*ok/
/* '.archiv_nav ul li' selektiert alle 'li'-Elemente innerhalb eines 'ul'-Elements, das sich innerhalb eines Elements mit der Klasse '.archiv_nav' befindet. */
.archiv_nav ul li {
    /* Ändert die Darstellung des 'li'-Elements, sodass es nebeneinander angezeigt wird. */
    display: inline-block;
    /* Setzt den horizontalen Außenabstand auf 15 Pixel. */
    margin: 0 15px;
}


/*ok/
/* '.document-container h2' selektiert alle h2 Elemente innerhalb eines Elements mit der Klasse '.document-container'. */
.document-container h2 {
    /* Fügt eine untere Randlinie hinzu. */
    border-bottom: 1px solid #00407C;
    /* Setzt die Schriftfarbe auf ein dunkles Blau. */
    color: #00407C;
    /* Setzt den unteren Innenabstand auf 10 Pixel. */
    padding-bottom: 10px;
}

/* '.document' ist die Klasse für jedes Dokument-Container-Element. */
.document {
    /* Fügt eine 1 Pixel breite, durchgehende, graue Umrandung hinzu. */
    border: 1px solid #ccc;
    /* Setzt den Randradius, um abgerundete Ecken zu erzeugen. */
    border-radius: 5px;
    /* Setzt den Innenabstand auf 10 Pixel. */
    padding: 10px;
    /* Setzt den unteren Außenabstand auf 10 Pixel. */
    margin-bottom: 10px;
    /* Fügt einen Schatten zum Element hinzu. */
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

/* '.document h3 a' selektiert alle 'a' (Hyperlink) Elemente innerhalb von 'h3'-Elementen, die sich in einem Element mit der Klasse '.document' befinden. */
.document h3 a {
    /* Setzt die Linkfarbe auf ein helles Blau. */
    color: #007bff;
    /* Entfernt die Unterstreichung des Links. */
    text-decoration: none;
    /* Setzt die Schriftgröße auf 70% der Eltern-Schriftgröße. */
    font-size: 0.7em;
}

/* '.document h3 a:hover' ändert die Farbe des Hyperlinks innerhalb der 'h3'-Elemente, die sich in einem Element mit der Klasse '.document' befinden, wenn der Benutzer mit der Maus darüber fährt. */
.document h3 a:hover {
    /* Setzt die Farbe auf ein dunkles Grau. */
    color: #5a5a5a;
}



/* pvk */
/* Filter form layout */
.pvk_filter {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    align-items: end;
}

/* Filter form elements */
.pvk_filter label {
    font-weight: bold;
}

.pvk_filter select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Filter button */
.pvk_filter button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.pvk_filter button:hover {
    background-color: #0056b3;
}

/* Charts container */
#charts-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Individual charts */
#kategorie-chart, #date-kategorie-chart {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/*ok* für die Unterlinks im Dokumentenarchiv/
/* Navigation */
nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}
/*ok*/
nav a:hover {
    color: #007BFF;
}

/* Form */
.pvk_filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;
    padding: 25px;
    font-size: 20px;

}

.pc_agency, .kategorie, .code, .ahv, .datum, button[type=submit] {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pvk_filter label {
    display: block;
    margin-bottom: 10px;
}

.pvk_filter select {
    width: 100%;
    padding: 5px;
}

.pvk_filter button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 0 0 auto; /* add this property */
    width: 100px;
}


.pvk_filter button:hover {
    background-color: #0056b3;
}

.jumbotron {
    background-image: url("zlel_web_applikation/stadt_zh_2_sw.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}


footer {
    padding-top: 0%;
    padding-bottom: 1%;
    margin: 0.03%;
}

.col {
    padding: 50px;
  }

.malerei {
    font-weight: 700;
    font-size: 1.5em;
}

.biographie {
    position: relative;
    float: left;

}


.pvk_filter p {
    text-align: left;
    margin-left: 700px;
}



.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 14px Helvetica;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#pvk_table {
    width: 90%;
    font-size: 20px;
}

#pvk_table_head {
    font-weight: 1000;
}

.archiv_nav {
    justify-items: center;
    color: #00407C;
}

#mitarbeiter_hinzufügen {
    text-align: center;
}

/*ok*/
#address {
    height: 400px;
    padding-top: 60px;
}
/*ok*/
#address_section {
    padding-top: 50px;
    height: 300px;
    width: 300px;
    background-color: white;
}

@media only screen and (max-width: 480px) {
    #body{width: 100%;}
    #header{width: 100%;}
    #a {width: 100%;}
    .container {
        width: 100%;
    }
    .info-box {
        width: 100%;
        text-align: center;
    }

}
