{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<div class="container">
    <h1>Kantonale Beihilfen gemäss Zusatzleistungsgesetz (ZLG)</h1>

    <!-- Anspruchsberechtigung -->
    <section class="my-4">
        <h3>§ 13: Anspruchsberechtigung für Beihilfen</h3>
        <p>
            Anspruch auf Beihilfen hast Du, wenn Du die Voraussetzungen für Ergänzungsleistungen gemäß Art. 4–6 ELG erfüllst und eine bestimmte Mindestwohndauer im Kanton aufweisen kannst: zehn Jahre für Schweizer Bürger und 15 Jahre für andere.
        </p>
    </section>


    <!-- Wohnsitzdauer und Karenzfrist -->
    <section>
        <h3>§ 13 Absatz 3: Karenzfrist und Wohnsitzdauer</h3>
        <p>
            Bei der Berechnung der Karenzfrist werden die Wohnsitzdauer des verstorbenen Ehepartners oder eingetragenen Partners sowie die Wohnsitzdauer der Eltern bei Waisen berücksichtigt.
        </p>
    </section>

    <!-- Vermögensgrenzen -->
    <section>
        <h3>§ 14: Vermögensgrenzen</h3>
        <p>
            Kein Anspruch auf Beihilfen hast Du, wenn das ermittelte Reinvermögen die festgelegten Grenzen übersteigt: 37.500 Franken bei Einzelpersonen, 60.000 Franken bei Ehepaaren und 15.000 Franken bei rentenberechtigten Waisen und Kindern.
        </p>
    </section>

    <!-- Höchstanspruch und Anpassung -->
    <section>
        <h3>§ 16: Höchstanspruch und Anpassung der Beihilfe</h3>
        <p>
            Der jährliche Höchstanspruch auf Beihilfe variiert je nach Status der Person.
        </p>
        <ul>
            <li><strong>Alleinstehende: </strong>2'420 Franken pro Jahr</li>
            <li><strong>Ehepaare: </strong>3'630 Franken pro Jahr</li>
            <li><strong>Für die ersten zwei Kinder: </strong>je 1'210 Franken pro Jahr</li>
            <li><strong>Für das dritte und vierte Kind: </strong>je 807 Franken</li>
            <li><strong>Für jedes weitere Kind: </strong>je 403 Franken</li>
        </ul>
    </section>

    <!-- Berechnung der Beihilfe -->
    <section>
        <h3>§ 17: Berechnung der Beihilfe</h3>
        <p>
            Für die Berechnung der Beihilfe wird die tatsächlich ausgerichtete Ergänzungsleistung als anrechenbare Einnahme behandelt. Der von der Ergänzungsleistungsberechnung ermittelte Lebensbedarf wird dann einfach durch die Beihilf-Sätze erhöht.
        </p>
    </section>

        <!-- Kürzung der Beihilfe -->
    <section>
        <h3>§ 18: Kürzung der Beihilfe</h3>
        <p>
            Paragraph 18 wird von den Gemeinden unterschiedlich behandelt. Insbesondere bei Mehrpersonenhaushalten wird die Beihilfe gekürzt oder gestrichen. Diese Praxis ist umstritten. Einen Gerichtsentscheid des Sozialversicherungsgerichts des Kantons Zürich vom 05. Mai 2020 (ZL.2018.00074) kritisierte die vollständige Streichung der Beihilfe. Den Entscheid findest du <a href="https://findex.webgate.cloud/entscheide/ZL.2018.00074.html" target="_blank" aria-label="Link zum Sozialgerichtsentscheid">HIER</a> Das <a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#-1837901559" target="_blank" aria-label="Link zum Kantonalen Sozialamt Abteilung Sozialversicherungen">Kantonale Sozialamt</a> wird gemäss dem Informationsschreiben 2023 die Vereinheitlichung der Praxis vornehmen.
        </p>
    </section>

    <!-- Rückerstattung und unrechtmäßige Bezüge -->
    <section>
        <h3>§ 19: Rückerstattung von Beihilfen</h3>
        <p>
            Rechtmäßig bezogene Beihilfen können unter bestimmten Bedingungen zurückgefordert werden, insbesondere wenn der Bezieher in günstigere Verhältnisse kommt oder aus dem Nachlass.
        </p>
    </section>

    <!-- Weitere Informationen -->
    <section>
        <h2>Weitere Informationen</h2>
        <p>
            Für detailliertere Informationen besuche bitte die offizielle Webseite der AHV/IV oder wende Dich an die kantonale Ausgleichskasse. Im Kanton Zürich sind die Gemeinden für den Vollzug der Ergänzungsleistungen zuständig.
        </p>
    </section>

</div>
{% endblock %}
