{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<main class="container">
    <!-- Anspruchsberechtigung -->
    <section class="mt-4">
        <h1>Kantonale Beihilfen gemäss Zusatzleistungsgesetz (ZLG)</h1>
        <p>
            Anspruch auf Beihilfen hast Du, wenn Du die Voraussetzungen für Ergänzungsleistungen gemäß Art. 4–6 ELG erfüllst und eine bestimmte Mindestwohndauer im Kanton Zürich aufweisen kannst: 10 Jahre für Schweizer Bürger und 15 Jahre für andere ($13 Abs. 1 ZLG).
        </p>
    </section>


    <!-- Wohnsitzdauer und Karenzfrist -->
    <section>
        <h2>Details zur Karenzfrist und Wohnsitzdauer</h2>
        <p>
            Dein Wohnsitz muss in den letzten zwei Jahren im Kanton Zürich gewesen sein; ausser Du warst schon mal Bezüger:in und kehrst in den Kanton Zürich zurück (§13 Abs. 2 ZLG). Bei der Berechnung der Karenzfrist werden die Wohnsitzdauer der verstorbenen Ehepartner:in oder der eingetragenen Partner:in sowie die Wohnsitzdauer der Eltern bei Waisen berücksichtigt (§13 Abs. 3 ZLG).
        </p>
    </section>

    <!-- Vermögensgrenzen -->
    <section>
        <h2>Vermögensgrenzen</h2>
        <p>
            Kein Anspruch auf Beihilfen hast Du, wenn das ermittelte Reinvermögen die festgelegten Grenzen übersteigt: Fr. 37'500.- bei Einzelpersonen, Fr. 60'000.- Franken bei Ehepaaren und Fr. 15'000.- bei rentenberechtigten Waisen und Kindern (§13 Abs. 4 ZLG).
        </p>
    </section>

    <!-- Höchstanspruch und Anpassung -->
    <section>
        <h2>Höchstanspruch und Anpassung der Beihilfe</h2>
        <p>
            Der jährliche Höchstanspruch auf Beihilfe variiert je nach Status der Person (§16 ZLG).
        </p>
            <ul>
                <li><strong>Alleinstehende: </strong>2'420 Franken pro Jahr</li>
                <li><strong>Ehepaare: </strong>3'630 Franken pro Jahr</li>
                <li><strong>Minderjährige Kinder in häuslicher Gemeinschaft: </strong>je 1'210 Franken pro Jahr</li>
                <li><strong>Volljährige Kinder in häuslicher Gemeinschaft: </strong>je 2'420 Franken</li>
                <li><strong>Kinder, die nicht in häuslicher Gemeinschaft leben mit Lebensbedarf für Erwachsene </strong>Keine Beihilfe</li>
            </ul>
    </section>

    <!-- Berechnung der Beihilfe -->
    <section>
        <h2>Berechnung der Beihilfe</h2>
        <p>
            Für die Berechnung der Beihilfe wird die tatsächlich ausgerichtete Ergänzungsleistung als anrechenbare Einnahme behandelt. Der von der Ergänzungsleistungsberechnung ermittelte Lebensbedarf wird dann einfach durch die Beihilf-Sätze erhöht (§17 ZLG).
        </p>
    </section>

        <!-- Kürzung der Beihilfe -->
    <section>
        <h2>Kürzung und Verweigerung der Beihilfe</h2>
        <p>
            Eine Kürzung beziehungsweise Verweigerung der Behilfe ist nur in folgenden Fällen möglich (§18 ZLG):
        </p>
        <ul>
            <li>Bei einem rückwirkenden Anspruch auf Ergänzungsleistungen sind Beihilfen erst ab dem Anmeldemonat auszuzahlen.</li>
            <li>Bei minderjährigen oder volljährigen Kindern mit einer Kinderrente zur AHV/IV, einer Waisenrente oder einem IV-Taggeld, die nicht in häuslicher Gemeinschaft leben. Diese haben einen Anspruch auf den allgemeinen Lebensbedarf für Alleinstehende (Art. 10 Abs. 1 lit. a Ziff. 1 ELG)</li>
        </ul>
        <p>
            Details findest Du in den <a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#-1837901559" target="_blank">Weisungen des Kantonalen Sozialamtes zum Vollzug der Zusatzleistungen zur AHV/IV</a> unter der Ziffer 2.2.5.
        </p>
    </section>

    <!-- Rückerstattung und unrechtmäßige Bezüge -->
    <section>
        <h2>Rückerstattung von Beihilfen</h2>
        <p>
            Rechtmäßig bezogene Beihilfen können unter bestimmten Bedingungen zurückgefordert werden, insbesondere wenn Du in günstigere Verhältnisse kommst oder aus Deinem Nachlass. Dabei ist nur derjenige Teil des Nachlasses zu berücksichtigen, der Fr. 25'000.- übersteigt (§19 ZLG).
        </p>
        <p>
            Unrechtmässig bezogene Beihilfen musst Du ebenfalls zurückerstatten. Dies kann beispielsweise der Fall sein, wenn Du Deine Meldepflicht verletzt hast. Du hast im Lotto eine Million gewonnen? Melde es Deiner EL-Stelle. Du hast einen neuen gut bezahlten Job, melde es der EL-Stelle. Bitte denk daran, unsere Sozialwerke leben von der gesellschaftlichen Solidarität. Mit Zusatzleistungen wirst Du keine grosse Sprünge machen, aber es ermöglicht Dir ein Leben in Würde und über der Armutsgrenze. Zudem bist Du besser gestellt als Personen, die eine wirtschaftliche Sozialhilfe beziehen müssen.
        </p>
    </section>
    
    <aside>
        <h2>Weitere Informationen zum Thema Beihilfe und Antragsstellung</h2>
        <ul>
            <li><a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#main_decisiontree_copy" target="_blank" aria-label="Link zum Suchbaum für Zürcher EL-Durchführungsstellen">Finde Deine EL-Stelle im Kanton Zürich</a></li>
        </ul>
    </aside>
</main>
{% endblock %}

