{% extends 'zlel_web_applikation/base.html' %}

{% load static %} 

{% block head %}
    {{ block.super }}  <!-- Behält vorhandene Elemente des head-Blocks bei -->
    <meta name="description" content="Betreuung im Alter: Die Ergänzungsleistungen helfen Dir möglichst lange zu Hause zu bleiben.">
    <title>Betreuung im Alter</title> <!-- Set the title of the webpage -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="{% static 'js/alpine.js' %}"></script>
{% endblock %}

{% block content %}
<main class="container">
    <!-- Überblick über Zuschüsse -->
    <article class="my-4">
        <section>
            <h1>Ambulante Leistungen für Menschen mit einer Ergänzungsleistung zur AHV</h1>
            <p>Der Kanton Zürich wird auf Basis eines Postulats "Betreutes Wohnen statt verfrühter Heimeintritt" (KR-Nr. 404/2016) den Leistungskatalog für Menschen mit einer Ergänzungsleistung zur AHV erweitern. Die neuen Bestimmungen sollen per 1. Januar 2025 in Kraft treten.</p>
        </section>
        <section>
            <h2>Wer kann von den Leistungen profitieren?</h2>
            <p>Im Kanton Zürich kannst Du von den Leistungen profitieren, wenn du eine Altersrente der AHV beziehst und Anspruch auf Ergänzungsleistungen hast. Bitte achte dabei - auch wenn Du keinen Anspruch hast auf eine monatliche Ergänzungsleistung, kannst Du unter Umständen Kosten für Betreuung geltend machen. Kläre dies mit Deiner EL-Stelle ab.</p>
            <div x-data="$store" class="personas-container">
                <ul class="personas-grid">
                    <template x-for="persona in $store.personas.favicons" :key="persona.name">
                        <li @click="$store.personas.selectPersona(persona.name)"
                            :class="{ 'active': $store.personas.selected === persona.name }">
                            <img :src="persona.url" :alt="'Bild für ' + persona.name">
                        </li>
                    </template>
                    <li class="persona-description" x-show="$store.personas.selected">
                        <p x-text="$store.personas.getSelectedDescription()"></p>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <h2>Welche Leistungen werden in Deiner Gemeinde angeboten?</h2>
            <p>Jede Gemeinde bietet Dir Zugang zu einer Abklärungsstelle. Zudem bennen die Gemeinden Leistungsanbietende. Hier kannst Du nach den Leistungsanbietenden in Deinen Gemeinden suchen. Mithilfe der Suche kannst Du die Gemeinde einschränken und dann auswählen.</p>
            <div x-data="dropdown()">
                <input x-model="searchQuery" type="text" placeholder="Gemeinde suchen..." class="form-control mb-3">
            
                <select class="form-select" x-model="selectedGemeinde" @change="selectGemeinde($event.target.value)" aria-label="Auswahl Gemeinde für Leistungsanbietende">
                    <option value="">Wähle eine Gemeinde...</option>
                    <template x-for="gemeinde in filteredGemeinden" :key="gemeinde.id">
                        <option :value="gemeinde.id" x-text="gemeinde.name"></option>
                    </template>
                </select>
                <div x-show="selectedGemeinde">
                    <template x-if="leistungsanbietende.length > 0">
                        <div class="col-md-4 mb-3 w-100">
                            <div class="card">
                                <template x-for="anbieter in leistungsanbietende" :key="anbieter.id">
                                    <div class="card-content m-4">
                                        <h2 x-text="anbieter.name" class="age-title m-1"></h2>
                                        <hr>
                                        <p class="m-2"><strong>Tätigkeiten:</strong> <span x-text="anbieter.taetigkeit"></span></p>
                                        <p class="m-2"><strong>Beschreibung:</strong> <span x-text="anbieter.beschreibung"></span></p>
                                        <p class="m-2"><strong>Kontakt: </strong> <span x-text="anbieter.internetlink"></span></p>
                                        <p class="m-2"><strong>Leistungsvereinbarung:</strong> <span x-text="anbieter.leistungsvereinbarung ? 'Ja' : 'Nein'"></span></p>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </template>
                    <template x-if="leistungsanbietende.length === 0">
                        <p>Keine Leistungsanbietenden gefunden.</p>
                    </template>
                </div>
            </div>
        </section>
    </article>
    <aside>
        <h2>Weitere Informationen zum Thema und Antragsstellung</h2>
        <ul>
            <li><a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#main_decisiontree_copy" target="_blank" aria-label="Link zum Suchbaum für Zürcher EL-Durchführungsstellen">Finde Deine EL-Stelle im Kanton Zürich</a></li>
        </ul>
    </aside>
</main>
{% endblock %}