{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<main class="container">
    <h1>Ambulante Leistungen für Menschen mit einer Ergänzungsleistung zur AHV</h1>

    <!-- Überblick über Zuschüsse -->
    <section class="my-4">
        <h2>Überblick</h2>
        <p>Der Kanton Zürich wird auf Basis eines Postulats "Betreutes Wohnen statt verfrühter Heimeintritt" (KR-Nr. 404/2016) den Leistungskatalog für Menschen mit einer Ergänzungsleistung zur AHV erweitern. Die neuen Bestimmungen sollen per 1. Januar 2025 in Kraft treten.</p>
    </section>
</main>
{% endblock %}