{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<main class="container">
    <!-- Überblick über Zuschüsse -->
    <article class="my-4">
        <h1>Ambulante Leistungen für Menschen mit einer Ergänzungsleistung zur AHV</h1>
        <p>Der Kanton Zürich wird auf Basis eines Postulats "Betreutes Wohnen statt verfrühter Heimeintritt" (KR-Nr. 404/2016) den Leistungskatalog für Menschen mit einer Ergänzungsleistung zur AHV erweitern. Die neuen Bestimmungen sollen per 1. Januar 2025 in Kraft treten.</p>
    </article>
    <aside>
        <h2>Weitere Informationen zum Thema und Antragsstellung</h2>
        <ul>
            <li><a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#main_decisiontree_copy" target="_blank" aria-label="Link zum Suchbaum für Zürcher EL-Durchführungsstellen">Finde Deine EL-Stelle im Kanton Zürich</a></li>
        </ul>
    </aside>
</main>
{% endblock %}