{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<main class="container">
    <h1>Kantonale Zuschüsse gemäß (ZLG)</h1>

    <!-- Überblick über Zuschüsse -->
    <section class="my-4">
        <h2>Überblick</h2>
        <p>
            Zuschüsse sind vorgesehen für Personen, die dauerhaft oder längere Zeit in einem Heim oder Spital leben und bei denen Ergänzungsleistungen sowie Beihilfen nicht ausreichen, um den Bedarf zu decken. Die Gewährung der Zuschüsse setzt voraus, dass die Vermögensfreibeträge nicht überschritten werden.
        </p>
    </section>

    <!-- Details zur Regelung der Zuschüsse -->
    <section>
        <h2>Regelungen und Bedingungen</h2>
        <p>
            Die genauen Bestimmungen, einschließlich der Karenzfrist und der Anrechnung von Vermögen und Einkommen, werden durch eine Verordnung des Regierungsrates geregelt. Bei der Festlegung dieser Kriterien werden die Gemeinden und der Fachverband für Zusatzleistungen konsultiert.
        </p>
    </section>

    <!-- Anwendbare Bestimmungen für Zuschüsse -->
    <section>
        <h2>Anwendbare Bestimmungen</h2>
        <p>
            Für Zuschüsse gelten die Bestimmungen des ZLG, die auch für Beihilfen relevant sind, einschließlich der Paragraphen 15, 19, 22, 33 Abs. 2 und 38.
        </p>
    </section>

    <!-- Weitere Informationen -->
    <section>
        <h2>Weitere Informationen und Antragstellung</h2>
        <p>
            Für detailliertere Informationen besuche bitte die offizielle Webseite der <a href="https://www.ahv-iv.ch/de" target="_blank" aria-label="Link zur Informationsstelle der AHV und IV">AHV/IV</a> oder wende Dich an die kantonale Ausgleichskasse. Bitte beachte, im Kanton Zürich musst Du Dich an die für Dich <a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#main_decisiontree_copy" target="_blank" aria-label="Link zum Suchbaum für Zürcher EL-Durchführungsstellen">zuständige Durchführungsstelle</a> wenden, da im Kanton Zürich die Gemeinden für den Vollzug der Ergänzungsleistungen zuständig sind.
        </p>
    </section>

</main>
{% endblock %}
