{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<div class="container">
    <h1>Allgemeine Voraussetzungen (Artikel 4 ELG)</h1>

    <!-- Inhalt des Artikels 4 -->
    <section class="my-4">
        <h2>Übersicht</h2>
        <p>
            Artikel 4 des Ergänzungsleistungsgesetzes definiert die allgemeinen Voraussetzungen für Personen mit Wohnsitz und gewöhnlichem Aufenthalt in der Schweiz, um Anspruch auf Ergänzungsleistungen zu haben. Die Wegleitungen zur Ergänzungsleistungen ergänzen die allgemeinen Voraussetzungen um weitere detaillierte Voraussetzungen.
        </p>

        <!-- Detaillierte Punkte -->
        <h3>Einen möglichen Anspruch auf Ergänzungsleistungen hast Du:</h3>
        <ul>
            <li><strong>Altersrente der AHV: </strong>Wenn Du eine Altersrente der AHV beziehst.</li>
            <li><strong>Invalidität: </strong>Wenn Du eine Rente oder eine Hilflosenentschädigung der IV beziehst, sofern du 18 Jahre alt oder älter bist</li>
            <li><strong>Übergangsleistung: </strong>Wenn du eine Übergangsleistung der IV beziehst.</li>
            <li><strong>Taggelder: </strong>Wenn du ununterbrochen während mindestens 6 Monate ein Taggeld der IV beziehst - egal ob du oder Dein Arbeitgeber das Taggeld ausbezahlt bekommt.</li>
            <li><strong>Null-Rente: </strong>Falls Du das ordentliche Rentenalter erreicht hast, oder zu mindestens 40 Prozent invalid bist, hast du unter Umständen auch Anspruch auf Ergänzungsleistungen, auch wenn Du aufgrund der fehlenden Mindestbeitragsdauer keinen Anspruch auf eine AHV- oder IV-Rente hast.</li>
            <li><strong>Wohnsitz in der Schweiz: </strong>Erforderlich ist, dass Du einen zivilrechtlichen Wohnsitz in der Schweiz hast.</li>
            <li><strong>Gewöhnlicher Aufenthalt in der Schweiz: </strong>Über ein gesamtes Kalenderjahr solltest Du nicht mehr als 90 Tage im Ausland unterwegs sein.</li>
            <!-- Weitere Punkte gemäß dem Gesetzestext -->
        </ul>

        <h3>Wie bestimmst Du Deinen zivilrechtlichen Wohnsitz?</h3>
        <p>
            In der Regel begründest Du dort Deinen Wohnsitz, wo Du Deinen zivilrechtlichen Wohnsitz hast. Das Zivilgesetzbuch sieht vor, dass Dein Wohnsitz dort ist, wo Dein Mittelpunkt Deiner Lebensbeziehungen besteht und Du die Absicht hast, dauernd zu verbleiben (Art. 23 Abs. 1 ZGB). Ist aus irgendwelchen Gründen Dein Wohnsitz nicht nachweisbar, oder ein Wohnsitz im Ausland aufgegeben worden, so gilt Dein Aufenthaltsort als Wohnsitz (Art. 24 Abs. 2 ZGB). Kriterien für
            den Wohnsitz sind:
        </p>
        <ul>
            <li>Wohnort, wo Du in der Regel schläfst</li>
            <li>Wo Du Deine Freizeit verbringst</li>
            <li>Wo Du über einen Telefonanschluss und eine Postadresse verfügst</li>
        </ul>

        <P>
            Bei Obdachlosigkeit oder Wohnungslosigkeit gilt auch hier: Dein Wohnsitz ist dort, wo Du Dich in der Regel aufhältst und Du Deinen Mittelpunkt Deiner Lebensbeziehungen hast (Art. 24 Abs. 1 ZGB). Wenn Dich die EL-Stelle aufgrund einer vorübergehenden Obdachlosigkeit abweist, kannst Du Dich auf Art. 24 Abs. 1 ZGB berufen und die EL-Stelle muss Deinen Antrag prüfen und allenfalls Deinen Wohnsitz ausfindig machen. Die EL-Stelle kann zwar eine Nichteintretensverfügung erstellen, muss diese aber der vermutetenden EL-Stelle zustellen. Diese EL-Stelle kann dann eine Einsprache gegen die Nichteintretensverfügung einreichen. Bis zur rechtskräftigen Klärung der Zuständigkeitsfrage hast Du jedoch Anrecht auf eine provisorische EL von der EL-Stelle Deines Aufenthaltsortes.
        </P>

        <h3>Ausnahme ist ein Heimaufenthalt</h3>
        <p>Eine Ausnahme gibt es. Trittst Du in ein Heim ein, so bleibt </p>


    </section>

    <section>
        <h2>Weitere Informationen</h2>
        <p>
            Für detailliertere Informationen besuche bitte die offizielle Webseite der AHV/IV oder wende Dich an die kantonale Ausgleichskasse. Bitte beachte, im Kanton Zürich musst Du Dich an die für Dich zuständige Durchführungsstelle wenden, da im Kanton Zürich die Gemeinden für den Vollzug der Ergänzungsleistungen zuständig sind.
        </p>
    </section>

</div>
{% endblock %}
