{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<div class="container">
    <h1>Allgemeine Voraussetzungen (Artikel 4 ELG)</h1>

    <!-- Inhalt des Artikels 4 -->
    <section class="my-4">
        <h2>Übersicht</h2>
        <p>
            Artikel 4 des Ergänzungsleistungsgesetzes definiert die allgemeinen Voraussetzungen für Personen mit Wohnsitz und gewöhnlichem Aufenthalt in der Schweiz, um Anspruch auf Ergänzungsleistungen zu haben. Die Wegleitungen zur Ergänzungsleistungen ergänzen die allgemeinen Voraussetzungen um weitere detaillierte Voraussetzungen.
        </p>

        <!-- Detaillierte Punkte -->
        <h3>Einen möglichen Anspruch auf Ergänzungsleistungen hast Du:</h3>
        <ul>
            <li><strong>Altersrente der AHV: </strong>Wenn Du eine Altersrente der AHV beziehst.</li>
            <li><strong>Invalidität: </strong>Wenn Du eine Rente oder eine Hilflosenentschädigung der IV beziehst, sofern du 18 Jahre alt oder älter bist</li>
            <li><strong>Übergangsleistung: </strong>Wenn du eine Übergangsleistung der IV beziehst.</li>
            <li><strong>Taggelder: </strong>Wenn du ununterbrochen während mindestens 6 Monate ein Taggeld der IV beziehst - egal ob du oder Dein Arbeitgeber das Taggeld ausbezahlt bekommt.</li>
            <li><strong>Null-Rente: </strong>Falls Du das ordentliche Rentenalter erreicht hast, oder zu mindestens 40 Prozent invalid bist, hast du unter Umständen auch Anspruch auf Ergänzungsleistungen, auch wenn Du aufgrund der fehlenden Mindestbeitragsdauer keinen Anspruch auf eine AHV- oder IV-Rente hast.</li>
            <li><strong>Wohnsitz in der Schweiz: </strong>Erforderlich ist, dass Du einen zivilrechtlichen Wohnsitz in der Schweiz hast.</li>
            <li><strong>Gewöhnlicher Aufenthalt in der Schweiz: </strong>Über ein gesamtes Kalenderjahr solltest Du nicht mehr als 90 Tage im Ausland unterwegs sein.</li>
            <!-- Weitere Punkte gemäß dem Gesetzestext -->
        </ul>
    </section>

    <section>
        <h2>Weitere Informationen</h2>
        <p>
            Für detailliertere Informationen besuche bitte die offizielle Webseite der AHV/IV oder wende Dich an die kantonale Ausgleichskasse. Bitte beachte, im Kanton Zürich musst Du Dich an die für Dich zuständige Durchführungsstelle wenden, da im Kanton Zürich die Gemeinden für den Vollzug der Ergänzungsleistungen zuständig sind.
        </p>
    </section>

</div>
{% endblock %}
