{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<div class="container">
    <h1>Zusätzliche Voraussetzungen für Ausländer:innen (Artikel 5 ELG)</h1>

    <!-- Inhalt des Artikels 5 -->
    <section class="my-4">
        <h2>Übersicht</h2>
        <p>
            Artikel 5 des Ergänzungsleistungsgesetzes beschreibt spezifische Bedingungen für Ausländer*innen, die Anspruch auf Ergänzungsleistungen in der Schweiz haben.
        </p>

        <!-- Detaillierte Punkte -->
        <h3>Karenzfrist</h3>
        <p>
            Als Ausländer:in musst Du ununterbrochen mindestens 10 Jahre in der Schweiz gelebt haben. Die Karenzfrist muss aber nur von der Person erfüllt sein, die einen Anspruch auf Ergänzungsleistungen geltend macht. Die Ausgaben und Einnahmen der übrigen Familienangehörigen werden auch dann berücksichtigt, wenn diese die Karenzfrist nicht erfüllen würden.
        </p>

        <h3>EU- oder Efta-Bürger*innen</h3>
        <p>
            Für Dich gibt es keine Karenzfrist und Du bist Schweizer Staatsangehörigen gleichgestellt.
        </p>

        <h3>Flüchtlinge und Staatenlose</h3>
        <p>
            Für Dich gilt eine verkürzte Karenzfrist von fünf Jahren. Die Karenzfrist muss aber nur von der Person erfüllt sein, die einen Anspruch auf Ergänzungsleistungen geltend macht. Die Ausgaben und Einnahmen der übrigen Familienangehörigen werden auch dann berücksichtigt, wenn diese die Karenzfrist nicht erfüllen würden.
        </p>

        <h3>Beginn der Karenzfrist</h3>
        <p>
            Die Karenzfrist beginnt, sobald Du in der Schweiz einen Wohnsitz und gewöhnlichen Aufenthalt hast.
        </p>

        <h3>Aufenthalt im Ausland</h3>
        <p>
            Bei Aufenthalten im Ausland von mehr als drei Monaten oder insgesamt mehr als drei Monaten innerhalb eines Kalenderjahres beginnt die Karenzfrist nach Rückkehr in die Schweiz erneut.
        </p>
    </section>
    <a href="{% url 'eligibility_requirements' %}" class="btn button-color button-style">Zurück</a>
    <section>
        <h2>Weitere Informationen</h2>
        <p>
            Für detailliertere Informationen besuche bitte die offizielle Webseite der <a href="https://www.ahv-iv.ch/de" target="_blank" aria-label="Link zur Informationsstelle der AHV und IV">AHV/IV</a> oder wende Dich an die kantonale Ausgleichskasse. Bitte beachte, im Kanton Zürich musst Du Dich an die für Dich <a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#main_decisiontree_copy" target="_blank" aria-label="Link zum Suchbaum für Zürcher EL-Durchführungsstellen">zuständige Durchführungsstelle</a> wenden, da im Kanton Zürich die Gemeinden für den Vollzug der Ergänzungsleistungen zuständig sind.
        </p>
    </section>

</div>
{% endblock %}
