{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<main class="container">
    <article class="my-4">
        <h1>Zusätzliche Voraussetzungen für Menschen ohne Schweizer Pass (Artikel 5 ELG)</h1>
        <section>
            <p>
            Artikel 5 des Ergänzungsleistungsgesetzes beschreibt spezifische Bedingungen für Ausländer*innen, die Anspruch auf Ergänzungsleistungen in der Schweiz haben.
            </p>    
        </section>
        <section>
            <h2>Karenzfrist</h2>
            <p>
                Als Ausländer:in musst Du ununterbrochen mindestens 10 Jahre in der Schweiz gelebt haben. Die Karenzfrist muss aber nur von der Person erfüllt sein, die einen Anspruch auf Ergänzungsleistungen geltend macht. Die Ausgaben und Einnahmen der übrigen Familienangehörigen werden auch dann berücksichtigt, wenn diese die Karenzfrist nicht erfüllen würden.
            </p>
        </section>
        <section>
            <h2>EU- oder Efta-Bürger*innen</h2>
            <p>
                Für Dich gibt es keine Karenzfrist und Du bist Schweizer Staatsangehörigen gleichgestellt.
            </p>
        </section>
        <section>
            <h2>Flüchtlinge und Staatenlose</h2>
            <p>
                Für Dich gilt eine verkürzte Karenzfrist von fünf Jahren. Die Karenzfrist muss aber nur von der Person erfüllt sein, die einen Anspruch auf Ergänzungsleistungen geltend macht. Die Ausgaben und Einnahmen der übrigen Familienangehörigen werden auch dann berücksichtigt, wenn diese die Karenzfrist nicht erfüllen würden.
            </p>
        </section>
        <section>
            <h2>Beginn der Karenzfrist</h2>
            <p>
                Die Karenzfrist beginnt, sobald Du in der Schweiz einen Wohnsitz und gewöhnlichen Aufenthalt hast.
            </p>
        </section>
        <section>
            <h2>Aufenthalt im Ausland</h2>
            <p>
                Bei Aufenthalten im Ausland von mehr als drei Monaten oder insgesamt mehr als drei Monaten innerhalb eines Kalenderjahres beginnt die Karenzfrist nach Rückkehr in die Schweiz erneut.
            </p>
        </section>
    </article>
    <a href="{% url 'eligibility_requirements' %}" class="btn button-color button-style">Zurück</a>
    <aside>
        <h2>Weitere Informationen</h2>
        <ul>
            <li><a href="https://www.ahv-iv.ch/de" target="_blank" aria-label="Link zur Informationsstelle der AHV und IV">Gehe auf die Informationsstelle AHV/IV</a></li>
            <li><a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#main_decisiontree_copy" target="_blank" aria-label="Link zum Suchbaum für Zürcher EL-Durchführungsstellen">Finde Deine EL-Stelle im Kanton Zürich</a></li>
        </ul>
    </aside>
</main>
{% endblock %}
