{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<main class="container">
    <article class="my-4">
        <h1>Du möchtest Ergänzungsleistungen beantragen?</h1>
        <section>
            <p>
                Dein Anspruch auf eine jährliche Ergänzungsleistung musst Du mittels eines ausgefüllten Antragsformulars bei der zuständigen Durchführungsstelle geltend machen. Die Durchführungsstelle prüft Deinen Anspruch und berechnet die Ergänzungsleistung. Du kannst den Anspruch auch durch ein formloses Schreiben geltend machen. In diesem Fall ist die Durchführungsstelle dazu verpflichtet, Dir ein Antragsformular zuzustellen. Zusammen mit dem Formular sind zahlreiche Informationen und Belege geltend zu machen. Dafür hast Du 3 Monate Zeit
            </p>
        </section>
        <section>
            <h2>An welche Stelle muss ich mich im Kanton Zürich wenden?</h2>
            <p>
                Im Kanton Zürich ist die Gemeinde für den Vollzug der Zusatzleistungen zuständig. Zusatzleistungen setzen sich zusammen aus den bundesrechtlichen Ergänzungsleistungen. Dazu kommen aber kantonale Leistungen wie Beihilfen und Zuschüsse. Das Gesamtpaket nennt sich dann Zusatzleistungen. Die Gemeinden können ihre Aufgabe selbstständig ausführen, es einer anderen Gemeinde oder der SVA Zürich übertragen. Bitte folge dem Link unten. Auf der Website des Kantonalen Sozialamtes findest Du eine Suchmaske, um die für Dich zuständige EL-Stelle im Kanton Zürich ausfindig zu machen.
            </p>
        </section>
    </article>
    <a href="{% url 'eligibility_requirements' %}" class="btn button-color button-style">Zurück</a>
    <aside>
        <h2>Weitere Informationen</h2>
        <ul>
            <li><a href="https://www.ahv-iv.ch/de" target="_blank" aria-label="Link zur Informationsstelle der AHV und IV">Gehe auf die Informationsstelle AHV/IV</a></li>
            <li><a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#main_decisiontree_copy" target="_blank" aria-label="Link zum Suchbaum für Zürcher EL-Durchführungsstellen">Finde Deine EL-Stelle im Kanton Zürich</a></li>
        </ul>
    </aside>
</main>>
{% endblock %}
