{% extends 'zlel_web_applikation/base.html' %}

{% block head %}
    {{ block.super }}  <!-- Behält vorhandene Elemente des head-Blocks bei -->
    <meta name="description" content="Anspruch beantragen: Wie beantrage ich Ergänzungsleistungen?">
    <title>Anmeldungsverfahren</title> <!-- Set the title of the webpage -->
{% endblock %}

{% block content %}
<main class="container">
    <article class="my-4">
        <h1>Du möchtest Ergänzungsleistungen beantragen?</h1>
        <section>
            <p>
                Dein Anspruch auf eine jährliche Ergänzungsleistung musst Du mittels eines ausgefüllten Antragsformulars bei der für Dich zuständigen EL-Stelle geltend machen. Die EL-Stelle prüft Deinen Anspruch und berechnet die Ergänzungsleistung. Du kannst den Anspruch auch durch ein formloses Schreiben geltend machen. In diesem Fall ist die Durchführungsstelle dazu verpflichtet, Dir ein Antragsformular zuzustellen. Zusammen mit dem Formular sind zahlreiche Informationen und Belege geltend zu machen. Dafür hast Du 3 Monate Zeit.
            </p>
        </section>
        <section>
            <h2>An welche Stelle muss ich mich im Kanton Zürich wenden?</h2>
            <p>
                Im Kanton Zürich ist die Gemeinde für den Vollzug der Zusatzleistungen zuständig. Zusatzleistungen setzen sich zusammen aus den bundesrechtlichen Ergänzungsleistungen. Dazu kommen aber kantonale Leistungen wie Beihilfen und Zuschüsse. Das Gesamtpaket nennt sich dann Zusatzleistungen. Die Gemeinden können ihre Aufgabe selbstständig ausführen, es einer anderen Gemeinde oder der SVA Zürich übertragen. Auf der <a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#main_decisiontree_copy" target="_blank">Website des Kantonalen Sozialamtes</a> findest Du eine Suchmaske, um die für Dich zuständige EL-Stelle im Kanton Zürich ausfindig zu machen.
            </p>
        </section>
    </article>
    <a href="{% url 'eligibility_requirements' %}" class="btn button-color button-style">Zurück</a>
    <aside>
        <h2>Weitere Informationen</h2>
        <ul>
            <li><a href="https://www.ahv-iv.ch/de" target="_blank" aria-label="Link zur Informationsstelle der AHV und IV">Gehe auf die Informationsstelle AHV/IV</a></li>
            <li><a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#main_decisiontree_copy" target="_blank" aria-label="Link zum Suchbaum für Zürcher EL-Durchführungsstellen">Finde Deine EL-Stelle im Kanton Zürich</a></li>
        </ul>
    </aside>
</main>>
{% endblock %}
