{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<div class="container">
    <h1>Du möchtest Ergänzungsleistungen beantragen?</h1>

    <!-- Inhalt des Artikels 5 -->
    <section class="my-4">
        <h2>Übersicht</h2>
        <p>
            Dein Anspruch auf eine jährliche Ergänzungsleistung musst Du mittels eines ausgefüllten Antragsformulars bei der zuständigen Durchführungsstelle geltend machen. Die Durchführungsstelle prüft Deinen Anspruch und berechnet die Ergänzungsleistung. Du kannst den Anspruch auch durch ein formloses Schreiben geltend machen. In diesem Fall ist die Durchführungsstelle dazu verpflichtet, Dir ein Antragsformular zuzustellen. Zusammen mit dem Formular sind zahlreiche Informationen und Belege geltend zu machen. Dafür hast Du 3 Monate Zeit
        </p>

        <!-- Detaillierte Punkte -->
        <h3>An welche Stelle muss ich mich im Kanton Zürich wenden?</h3>
        <p>
            Als Ausländer:in musst Du ununterbrochen mindestens 10 Jahre in der Schweiz gelebt haben. Die Karenzfrist muss aber nur von der Person erfüllt sein, die einen Anspruch auf Ergänzungsleistungen geltend macht. Die Ausgaben und Einnahmen der übrigen Familienangehörigen werden auch dann berücksichtigt, wenn diese die Karenzfrist nicht erfüllen würden.
        </p>
    </section>

    <section>
        <h2>Weitere Informationen</h2>
        <p>
            Für detailliertere Informationen besuche bitte die offizielle Webseite der <a href="https://www.ahv-iv.ch/de" target="_blank" aria-label="Link zur Informationsstelle der AHV und IV">AHV/IV</a> oder wende Dich an die kantonale Ausgleichskasse. Bitte beachte, im Kanton Zürich musst Du Dich an die für Dich <a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#main_decisiontree_copy" target="_blank" aria-label="Link zum Suchbaum für Zürcher EL-Durchführungsstellen">zuständige Durchführungsstelle</a> wenden, da im Kanton Zürich die Gemeinden für den Vollzug der Ergänzungsleistungen zuständig sind.
        </p>
    </section>
</div>
{% endblock %}
