{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<main class="container">
    <article class="my-4">
        <h1>Zusätzliche Bestimmungen für Kinder</h1>
        <section>
            <h2>Welche EL-Stelle ist zuständig?</h2>
            <p>
                Bevormundete Kinder haben ihren Wohnsitz am Sitz der Kindesschutzbehörde. Ansonsten ist die Zuständigkeit an die Anspruchsberechtigung der Eltern geknüpft. Sind beide Eltern anspruchsberechtigt, leben aber nicht im selben Kanton, so ist insbesondere bei einem gemeinsamen Sorgerecht die EL-Stelle beim Wohnsitz des Elternteils zuständig, der die überwiegende Obhut hat. Wird die Obhut zu gleichen Teilen geteilt, so ist es die EL-Stelle bei der Mutter.
            </p>
        </section>
        <section>
            <h2>Welche wirtschaftlichen Situationen sind bei Kindern zu berücksichtigen?</h2>
            <p>
                Kinder mit einem Vermögen von mehr als Fr. 50'000.- fallen bei der Berechnung der Ergänzungsleistung ausser Betracht. Trotzdem kannst Du die Krankheitskosten der Kinder zurückerstatten bei der EL-Stelle.
            </p>
        </section>
        <section>
            <h2>Was sind Vergleichsrechnungen?</h2>
            <p>
                Beantragst Du als Elternteil Ergänzungsleistungen und hast Kinder, wird die EL-Stelle sogenannte Vergleichsrechnungen vornehmen. Also einmal mit und einmal ohne Kind. Resultiert aus der Globalrechnung (mit Kind) eine höhere EL, so verbleibt das Kind in der Berechnung. Würdest Du aber mit Einbezug des Kindes weniger EL erhalten, wird es von der Berechnung ausgeschlossen. Bei mehreren Kindern, sind für jedes nacheinander Vergleichsrechnungen vorzunehmen.
            </p>
        </section>
        <section>
            <h2>Kosten für familienergänzende Betreuung</h2>
            <p>
                Du kannst allenfalls die Netto-Betreuungskosten für Kinder als Ausgaben anrechnen lassen, die das 11. Altersjahr noch nicht vollendet haben. Jedoch nicht, wenn die Betreuung durch Privatpersonen geleistet wird. Zudem musst Du die Notwendigkeit der Betreuung nachweisen. Also beispielsweise, dass eine Betreuung aufgrund einer Erwerbstätigkeit oder aus gesundheitlichen Gründen notwendig ist.
            </p>
        </section>
    </article>
    <a href="{% url 'eligibility_requirements' %}" class="btn button-color button-style">Zurück</a>
    <aside>
        <h2>Weitere Informationen</h2>
        <ul>
            <li><a href="https://www.ahv-iv.ch/de" target="_blank" aria-label="Link zur Informationsstelle der AHV und IV">Gehe auf die Informationsstelle AHV/IV</a></li>
            <li><a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#main_decisiontree_copy" target="_blank" aria-label="Link zum Suchbaum für Zürcher EL-Durchführungsstellen">Finde Deine EL-Stelle im Kanton Zürich</a></li>
        </ul>
    </aside>

</main>
{% endblock %}
