{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<main class="container">
    <h1>Zusätzliche Bestimmungen für Kinder</h1>

    <!-- Inhalt des Artikels 5 -->
    <section class="my-4">
        <h2>Übersicht</h2>

        <!-- Detaillierte Punkte -->
        <h3>Welche EL-Stelle ist zuständig?</h3>
        <p>
            Bevormundete Kinder haben ihren Wohnsitz am Sitz der Kindesschutzbehörde. Ansonsten ist die Zuständigkeit an die Anspruchsberechtigung der Eltern geknüpft. Sind beide Eltern anspruchsberechtigt, leben aber nicht im selben Kanton, so ist insbesondere bei einem gemeinsamen Sorgerecht die EL-Stelle beim Wohnsitz des Elternteils zuständig, der die überwiegende Obhut hat. Wird die Obhut zu gleichen Teilen geteilt, so ist es die EL-Stelle bei der Mutter.
        </p>

        <h3>Welche wirtschaftlichen Situationen sind bei Kindern zu berücksichtigen?</h3>
        <p>
            Kinder mit einem Vermögen von mehr als CHF 50 000.- fallen bei der Berechnung der Ergänzungsleistung ausser Betracht. Trotzdem kannst Du die Krankheitskosten der Kinder zurückerstatten bei der EL-Stelle.
        </p>

        <h3>Was sind Vergleichsrechnungen?</h3>
        <p>
            Beantragst Du als Elternteil Ergänzungsleistungen und hast Kinder, wird die EL-Stelle sogenannte Vergleichsrechnungen vornehmen. Also einmal mit und einmal ohne Kind. Resultiert aus der Globalrechnung (mit Kind) eine höhere EL, so verbleibt das Kind in der Berechnung. Würdest Du aber mit Einbezug des Kindes weniger EL erhalten, wird es von der Berechnung ausgeschlossen. Bei mehreren Kindern, sind für jedes nacheinander Vergleichsrechnungen vorzunehmen.
        </p>

        <h3>Kosten für familienergänzende Betreuung</h3>
        <p>
            Du kannst allenfalls die Netto-Betreuungskosten für Kinder als Ausgaben anrechnen lassen, die das 11. Altersjahr noch nicht vollendet haben. Jedoch nicht, wenn die Betreuung durch Privatpersonen geleistet wird. Zudem musst Du die Notwendigkeit der Betreuung nachweisen. Also beispielsweise, dass eine Betreuung aufgrund einer Erwerbstätigkeit oder aus gesundheitlichen Gründen notwendig ist.
        </p>

    </section>

    <section>
        <h2>Weitere Informationen</h2>
        <p>
            Für detailliertere Informationen besuche bitte die offizielle Webseite der <a href="https://www.ahv-iv.ch/de" target="_blank" aria-label="Link zur Informationsstelle der AHV und IV">AHV/IV</a> oder wende Dich an die kantonale Ausgleichskasse. Bitte beachte, im Kanton Zürich musst Du Dich an die für Dich <a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#main_decisiontree_copy" target="_blank" aria-label="Link zum Suchbaum für Zürcher EL-Durchführungsstellen">zuständige Durchführungsstelle</a> wenden, da im Kanton Zürich die Gemeinden für den Vollzug der Ergänzungsleistungen zuständig sind.
        </p>
    </section>

</main>
{% endblock %}
