{% extends 'zlel_web_applikation/base.html' %}  <!-- Assuming you have a base.html -->
{% load static %}


{% block content %}
<div class="container">
    <h1>Ergänzungsleistungen in der Schweiz</h1>

    <!-- Historical Introduction -->
    <section class="info-box">
        <h2>Historischer Hintergrund</h2>
        <p>
            Die Ergänzungsleistungen in der Schweiz, eingeführt im Jahr 1965, entstanden als Reaktion auf die unzureichenden Renten der Alters- und Hinterlassenenversicherung (AHV) und der Invalidenversicherung (IV), welche 1948 bzw. 1960 gegründet wurden. Diese Renten erfüllten nicht den Verfassungsauftrag der Existenzsicherung, was zu einer signifikanten Anzahl von Rentnerinnen und Rentnern führte, die unter dem Existenzminimum lebten. Die Ergänzungsleistungen, ursprünglich als Übergangslösung konzipiert, wurden zu einem wesentlichen Bestandteil des schweizerischen Sozialstaats und galten als "Pensionskasse der kleinen Leute".
        </p>
    </section>

    <!-- Nature of the Benefit -->
    <section class="info-box">
        <h2>Natur der Ergänzungsleistungen</h2>
        <p>
            Ergänzungsleistungen sind in der Schweiz als Sozialversicherungsleistungen auf Bundesebene geregelt und nicht als Sozialhilfe zu verstehen. Sie bieten eine bedarfsgeprüfte Unterstützung, die über Steuermittel finanziert wird und dienen der Deckung des grundlegenden Lebensbedarfs von Personen, deren Renten und Einkommen für den Lebensunterhalt nicht ausreichen. Die Leistungen umfassen auch Pflege- und Heimkosten und haben sich als wichtiger Teil der sozialen Sicherheit in der Schweiz etabliert.
        </p>
    </section>

    <!-- Additional Information -->
    <!-- You can add more sections or content as needed -->

</div>
{% endblock %}
