{% extends 'zlel_web_applikation/base.html' %}

{% block head %}
    {{ block.super }}  <!-- Behält vorhandene Elemente des head-Blocks bei -->
    <meta name="description" content="Vermögen: Allgemeine Informationen zum Thema Vermögen bei Ergänzungsleistungen">
    <title>Vermögen</title> <!-- Set the title of the webpage -->
{% endblock %}

{% block content %}
<main class="container">
    <article class="my-4">
        <h1>Voraussetzungen hinsichtlich des Vermögens (Artikel 9a ELG)</h1>
        <section>
            <p>
                Artikel 9a des Ergänzungsleistungsgesetzes beschreibt spezifische Bedingungen für Vermögenswerte, die Du erfüllen musst, um Anspruch auf Ergänzungsleistungen zu haben. Die Bedingungen sind abhängig von Deinem Zivilstand und Deinem Alter. Massgebend ist Dein steuerbares Vermögen - ohne die Berücksichtigung der steuerrechtlichen Abzügen.
            </p>
        </section>
        <section>
            <h2>Wie viel Reinvermögen darfst Du besitzen?</h2>
            <p>
                Dein Reinvermögen darf nicht höher sein als:<br> - Fr. 100'000.- wenn Du ledig bist.<br> - Fr. 200'000.- Franken wenn Du verheiratet bist oder in eingetragener Partnerschaft lebst.<br> - Fr. 50'000.- Franken wenn Du ein rentenberchtiger Waise bist.<br> - Fr. 50'000.- Franken wenn Du als Minderjähriger ein IV-Taggeld beziehst.
            </p>
        </section>
        <section>
            <h2>Du hast auf Vermögenswerte verzichtet?</h2>
            <p>
                Wenn Du Geld oder andere Vermögenswerte verschenkst oder ein Vermögenswert unterhalb des Verkehrswertes verkaufst, kann die Ausgleichskasse den Verzichtswert als Vermögen anrechnen. Dies ist beispielsweise der Fall, wenn Du Deinen Nachkommen ein Vorerbe ausrichtest oder wenn Du Deine Immobilie unter dem Verkehrswert verkaufst.
            </p>
        </section>
        <section>
            <h2>Vermögensverbrauch</h2>
            <p>
                Ab dem 1. Januar 2021 wird rückblickend Deine Vermögensentwicklung betrachtet. Beziehst Du eine IV-Rente, werden die Jahre seit Beginn Deines Rentenanspruchs begutachtet. Beziehst Du jedoch eine AHV-Rente, werden die letzten 10 Jahre vor dem Rentenanspruch begutachtet - ab dem 1. Januar 2021.
            </p>
        </section>
        <section>
            <h2>Wie viel Vermögen darfst Du verbrauchen?</h2>
            <p>
                Du darfst pro Jahr maximal 10% Deines Vermögens verbrauchen. Liegt Dein Vermögen unter Fr. 100'000.-, so sind es fix Fr. 10'000.- pro Jahr.
            </p>
        </section>
        <section>
            <h2>Was passiert, wenn Du mehr Vermögen verbraucht hast?</h2>
            <p>
                Die EL-Stelle wird Dich nach dem Grund für den Vermögensverbrauch fragen. Die solltest Du unbedingt belegen können. Dazu zählen beispielsweise Zahnarztkosten oder Unterhaltskosten für Immobilien. Zudem wird ein Pauschalbetrag für Deinen Lebensunterhalt ermittelt. Dieser richtet sich nach Deinem Zivilstand und ob Du allenfalls für Deine Kinder aufkommen musstest. Details findest Du dazu in der <a href="https://sozialversicherungen.admin.ch/de/d/6930" target="_blank" aria-label="Link zur Wegleitung über die Ergänzungsleistung">Wegleitung über die Ergänzungsleistung</a>.
            </p>
        </section>
        <section>
            <h2>Dir wurde ein Vermögensverzicht beziehungsweise ein übermässiger Vermögensverbrauch attestiert?</h2>
            <p>
                In diesem Fall wird die EL-Stelle Dein Verzicht als hypothetisches Vermögen anrechnen. Liegt es über 100 000 Franken, hast Du keinen Anspruch auf Ergänzungsleistungen. Ansonsten wird ein fiktiver Vermögensverbrauch berechnet. Der Betrag, auf den Du verzichtest hast, wird jährlich um Fr. 10'000.- vermindert.
            </p>
        </section>
    </article>
    <a href="{% url 'eligibility_requirements' %}" class="btn button-color button-style">Zurück</a>
    <aside>
        <h2>Weitere Informationen</h2>
        <ul>
            <li><a href="https://www.ahv-iv.ch/de" target="_blank" aria-label="Link zur Informationsstelle der AHV und IV">Gehe auf die Informationsstelle AHV/IV</a></li>
            <li><a href="https://www.zh.ch/de/soziales/ergaenzungsleistungen-ahv-iv.html#main_decisiontree_copy" target="_blank" aria-label="Link zum Suchbaum für Zürcher EL-Durchführungsstellen">Finde Deine EL-Stelle im Kanton Zürich</a></li>
        </ul>
    </aside>
</main>
{% endblock %}