{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<div class="container">
    <h1>Voraussetzungen hinsichtlich des Vermögens (Artikel 9a ELG)</h1>

    <!-- Inhalt des Artikels 5 -->
    <section class="my-4">
        <h2>Übersicht</h2>
        <p>
            Artikel 9a des Ergänzungsleistungsgesetzes beschreibt spezifische Bedingungen für Vermögenswerte, die Du erfüllen musst, um Anspruch auf Ergänzungsleistungen zu haben. Die Bedingungen sind abhängig von Deinem Zivilstand und Deinem Alter. Massgebend ist Dein steuerbares Vermögen - ohne die Berücksichtigung der steuerrechtlichen Abzügen.
        </p>

        <!-- Detaillierte Punkte -->
        <h3>Wie viel Reinvermögen darfst Du besitzen?</h3>
        <p>
            Dein Reinvermögen darf nicht höher sein als:<br> - 100 000 Franken wenn Du ledig bist.<br> - 200 000 Franken wenn Du verheiratet bist oder in eingetragener Partnerschaft lebst.<br> - 50 000 Franken wenn Du ein rentenberchtiger Waise bist.<br> - 50 000 Franken wenn Du als Minderjähriger ein IV-Taggeld beziehst.
        </p>

        <h3>Du hast auf Vermögenswerte verzichtet?</h3>
        <p>
            Wenn Du Geld oder andere Vermögenswerte verschenkst oder ein Vermögenswert unterhalb des Verkehrswertes verkaufst, kann die Ausgleichskasse den Verzichtswert als Vermögen anrechnen. Dies ist beispielsweise der Fall, wenn Du Deinen Nachkommen ein Vorerbe ausrichtest oder wenn Du Deine Immobilie unter dem Verkehrswert verkaufst.
        </p>

        <h3>Übermässiger Vermögensverbrauch</h3>
        <p>
            Für Dich gilt eine verkürzte Karenzfrist von fünf Jahren. Die Karenzfrist muss aber nur von der Person erfüllt sein, die einen Anspruch auf Ergänzungsleistungen geltend macht. Die Ausgaben und Einnahmen der übrigen Familienangehörigen werden auch dann berücksichtigt, wenn diese die Karenzfrist nicht erfüllen würden.
        </p>

    </section>

    <section>
        <h2>Weitere Informationen</h2>
        <p>
            Für detailliertere Informationen besuche bitte die offizielle Webseite der AHV/IV oder wende Dich an die kantonale Ausgleichskasse. Bitte beachte, im Kanton Zürich musst Du Dich an die für Dich zuständige Durchführungsstelle wenden, da im Kanton Zürich die Gemeinden für den Vollzug der Ergänzungsleistungen zuständig sind.
        </p>
    </section>

</div>
{% endblock %}