<!DOCTYPE html> <!-- Declare this document as an HTML5 document -->
<html lang="de"> <!-- Start of HTML element, with German declared as the language -->

{% load static %} <!-- Django template tag to load static files -->
{% load widget_tweaks %}

    <head> <!-- Start of head element containing meta information about the document -->
        <meta charset="utf-8"> <!-- Set the character encoding to UTF-8 -->
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Responsive design tag to adjust the viewport based on the device width -->
        <meta name="description" content="eli ist eine Plattform, die es ermöglicht, sich über die Ergänzungsleistungen zu informieren mit Fokus auf den Kanton Zürich. Zudem bietet es für User die Möglichkeit, sich über ein Forum auszutauschen."> <!-- Specify a description of the webpage -->
        <meta name="google-site-verification" content="Yybjl2IfEQv2E2BseLWrgApbo-vzvMWlhFw9Obu9ElQ" />
        <title>eli</title> <!-- Set the title of the webpage -->

        <!-- Load Bootstrap CSS from a CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!-- Load a custom CSS file from static files -->
        <base href="{% static '/' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
        <script src="{% static 'js/cookie-banner.js' %}"></script>
        <meta name="author" content="Fabian Marc Pascal Berger"> <!-- Specify the author of the webpage -->

        {% block head %} <!-- A block that can be filled with content in child templates -->
        {% endblock %}
    </head> <!-- End of head element -->

    <body> <!-- Start of body element, which contains the content of the document -->

        <!-- Start of the navigation bar -->
        <header class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid header-container">

                <!-- Navbar brand that links to the home page -->
                <a id="eli" class="navbar-brand ml-6" href="{% url 'home' %}">eli</a>

                <!-- Navbar toggler for responsive designs -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar content that collapses on small screens -->
                <nav class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="durchfuehrungsstelleDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Ergänzungsleistungen
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="durchfuehrungsstelleDropdown">
                                <li><a class="dropdown-item" href="{% url 'eligibility_requirements' %}">Themenspezifische Informationen</a></li>
                                <li><a class="dropdown-item" href="{% url 'el_anmeldung' %}">Antragsverfahren</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle nav-text" href="#" id="leistungenDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Kantonale Leistungen Zürich
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="leistungenDropdown">
                                <li><a class="dropdown-item nav-text" href="{% url 'beihilfe' %}">Kantonale Beihilfe</a></li>
                                <li><a class="dropdown-item" href="{% url 'zuschuesse' %}">Kantonale Zuschüsse</a></li>
                                <li><a class="dropdown-item" href="{% url 'betreuung_alter' %}">Betreuung im Alter</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'forum_index' %}">Forum</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account' %}">Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header> <!-- End of the navigation bar -->

        {% block content %} <!-- A block that can be filled with content in child templates -->
        {% endblock %}



        <!-- Footer with copyright notice -->
        <footer>
            <!-- Row with nav component -->
            <div>
                <div>
                    <nav class="footer-nav">
                        <!-- Link to an external page -->
                        <a href="https://www.fmpberger.com" target="_blank">Kontakt</a>
                        <!-- Link to the 'kontakt' view -->
                        <a href="{% url 'impressum' %}">Impressum</a>
                        <a href="{% url 'datenschutz' %}">Datenschutz</a>
                    </nav>
                </div>
            </div>
            <div>
                <p>&copy; Copyright 2024</p>
            </div>
        </footer>
        <!-- End of footer -->
        <!-- Load Bootstrap JavaScript from a CDN -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body> <!-- End of body element -->
</html> <!-- End of HTML element -->

