{% extends 'zlel_web_applikation/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="my-4 container_post">
    <h1 class="mb-4">Neuen Beitrag erstellen</h1>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {% render_field field class="form-control" %}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit" class="btn button-color button-style">Beitrag veröffentlichen</button>
    </form>
</div>
{% endblock %}
