{% extends 'zlel_web_applikation/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <main class="my-4 container_post">
        <h1 class="mb-4">Beitrag bearbeiten</h1>
        <form class="mb-4" method="POST">
            {% csrf_token %}
            <!-- Platzhalter zum Anzeigen aller Formularfelder -->
            <div>
                {% for field in form %}
                    <div class="mb-4">
                        {% render_field field class="custom_lg" %}
                    </div>
                {% endfor %}
            </div>

            <button type="submit" class="save btn button-style button-color">Update</button>
        </form>
    </main>

{% endblock %}