{% extends 'zlel_web_applikation/base.html' %}

{% block content %}
<main class="container my-4">
    <h1 class="mb-4">{{ category.name }}</h1>

    {% if posts %}
        {% for post in posts %}
            <div class="card container_post card-answer mb-3">
                <div>
                    <h2 class="card-title">
                        <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                    </h2>
                    <p class="card-text">Veröffentlicht am {{ post.date_posted }} von {{ post.author.username }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info">
            Keine Beiträge in dieser Kategorie vorhanden.
        </div>
    {% endif %}
</main>
{% endblock %}
